* {
    font-family:
        Helvetica Neue,
        Segoe UI,
        sans-serif;
}

button,
input {
    margin: 3px;
}

input[type="text"] {
    width: 300px;
}

:checked+input[type="text"] {
    color: gray;
    font-style: italic;
    text-decoration: line-through;
}

.load_sending_hidden {
    visibility: hidden;
}

.load_sending_background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.load_sending_white {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}